.page-title-area{
    width:100%;
    height:70px;
    border-bottom:solid 1px gray;
    display:inline-block;
}
.page-title-text-area {
    float:left;
    margin-left: 20px;
}

.page-top-btn-area {
    float:right;
    margin: 13px 20px ;
    display: flex;
    justify-content: space-between;
}

.page-top-btn-area button{
    margin-left:10px;
}


.page-title-text{
    font-size: 28px;
}

.page-subtitle-text{
    color:gray;
}

.header-text{
    display : inline-block;
    margin-left : 50px;
    font-size : 35px;
    color : white;
}

.header {
    height : 60px;
    display :flex;
    background-color : lightslategray;
}

.fotter {
    background-color : gainsboro;
    width: 100%;
    height: 40px;
    position: fixed;
    bottom: 0;
}

.fotter-text {
    color:gray;
    text-align: center;
    margin-top: 7px;
}

.main-contents-area{
    padding:0 20px
}

.sub-button-area{
    width:100%;
    height:70px;
}
.sub-button-area button{
    margin-top: 13px;
}

.sub-button-area div{
    display: inline-block;
}

.form-main-button{
    width: 120px;
    height: 45px;
    font-size:28px;
    border-radius:5px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    transition: 0.2s;
}

.form-main-button:active{
    transform: translateY(4px);
}

.sub-button{
    width: 100px;
    height: 40px;
    font-size: 20px;
    border-radius:5px
}

.primary-button{
    border: solid 2px lightslategray;
    border-bottom: 3px solid rgb(58, 72, 86);
    background-color: lightslategray;
    color: white;
}

.primary-button:active{
    border-bottom: solid 2px lightslategray;
}


.secondary-button{
    border: solid 2px gray;
    border-bottom: 3px solid gray;
    background-color: white;
}

.secondary-button:active{
    border-bottom: solid 2px gray;
}

.muda-textarea{
    width:50%
}

.muda-display-time{
    float:right;
}