.page-title-area{
    width:100%;
    height:70px;
    border-bottom:solid 1px gray;
    display:inline-block;
}
.page-title-text-area {
    float:left;
    margin-left: 20px;
}

.page-top-btn-area {
    float:right;
    margin: 11px 20px ;
    display: flex;
    justify-content: space-between;
}

.page-top-btn-area button{
    margin-left:10px;
}


.page-title-text{
    font-size: 28px;
}

.page-subtitle-text{
    color:gray;
}

.header-text{
    display : inline-block;
    margin-left : 50px;
    font-size : 35px;
    color : white;
}

.header {
    height : 60px;
    display :flex;
    background-color : lightslategray;
}

.fotter {
    background-color : gainsboro;
    width: 100%;
    height: 40px;
    position: fixed;
    bottom: 0;
}

.fotter-text {
    color:gray;
    text-align: center;
    margin-top: 7px;
}

.form-main-button{
    width: 120px;
    height: 45px;
    font-size:28px;
    border-radius:5px
}

.primary-button{
    border: solid 2px lightslategray;
    background-color: lightslategray;
    color: white;
}

.secondary-button{
    border: solid 2px gray;
    background-color: white;
}
